<h3> <%= @title = "Editing User: #{@user.email}" %> </h3>

<% form_for @user, :url => { :action => "update" } do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit "Save" %>
<% end %>
